<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="commodity_id" property="commodityId" />
        <result column="comment_score" property="commentScore" />
        <result column="comment_state" property="commentState" />
        <result column="comment_content" property="commentContent" />
        <result column="comment_delete" property="commentDelete" />
        <result column="comment_create_time" property="commentCreateTime" />
        <result column="comment_update_time" property="commentUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, user_id, commodity_id, comment_score, comment_state, comment_content, comment_delete, comment_create_time, comment_update_time
    </sql>

</mapper>
