<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Admin">
        <id column="admin_id" property="adminId" />
        <result column="admin_username" property="adminUsername" />
        <result column="admin_password" property="adminPassword" />
        <result column="admin_type" property="adminType" />
        <result column="admin_face" property="adminFace" />
        <result column="admin_phone" property="adminPhone" />
        <result column="admin_create_time" property="adminCreateTime" />
        <result column="admin_update_time" property="adminUpdateTime" />
        <result column="admin_login_time" property="adminLoginTime" />
        <result column="admin_enabled" property="adminEnabled" />
        <result column="admin_locked" property="adminLocked" />
    </resultMap>

    <resultMap id="AdminWithRole" type="com.ash.server.pojo.Admin" extends="BaseResultMap">
        <collection property="roles" ofType="com.ash.server.pojo.Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_name_zh" property="roleNameZh"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_username, admin_password,admin_face, admin_phone, admin_create_time, admin_update_time, admin_login_time, admin_enabled, admin_locked
    </sql>

    <!--获取所有操作员-->
    <select id="getAllAdmin" resultMap="AdminWithRole">
        SELECT
            a.*,
            r.role_id,
            r.role_name,
            r.role_name_zh
        FROM
            h_admin a
                LEFT JOIN
            h_admin_role ar ON a.admin_id=ar.admin_id
                LEFT JOIN
            h_role r ON r.role_id=ar.role_id
        WHERE
            a.admin_id=#{adminId}
        <if test="null!=keywords and ''!=keywords">
            AND a.admin_username LIKE CONCAT('%',#{keywords},'%')
        </if>
        ORDER BY
            a.admin_id
    </select>
    <select id="getAllAdminByPage" resultMap="AdminWithRole">
        SELECT
        a.*,
        r.role_id,
        r.role_name,
        r.role_name_zh
        FROM
        h_admin a
        LEFT JOIN
        h_admin_role ar ON a.admin_id=ar.admin_id
        LEFT JOIN
        h_role r ON r.role_id=ar.role_id
        WHERE
        a.admin_type=#{adminType}
        <if test="null!=keywords and ''!=keywords">
            AND a.admin_username LIKE CONCAT('%',#{keywords},'%')
        </if>
        ORDER BY
        a.admin_id
    </select>


</mapper>
