<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.AdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.AdminRole">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <update id="addAdminRole">
        INSERT INTO h_admin_role(admin_id,role_id) VALUES
        <foreach collection="roleIds" item="role_id" separator=",">
            (#{adminId},#{role_id})
        </foreach>
    </update>

</mapper>
