<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Commodity">
        <id column="commodity_id" property="commodityId" />
        <result column="category_id" property="categoryId" />
        <result column="commodity_image" property="commodityImage" />
        <result column="commodity_name" property="commodityName" />
        <result column="commodity_stock" property="commodityStock" />
        <result column="commodity_price" property="commodityPrice" />
        <result column="commodity_discount" property="commodityDiscount" />
        <result column="commodity_describe" property="commodityDescribe" />
        <result column="commodity_locked" property="commodityLocked" />
        <result column="commodity_enable" property="commodityEnable" />
        <result column="commodity_create_time" property="commodityCreateTime" />
        <result column="commodity_update_time" property="commodityUpdateTime" />
    </resultMap>
    
    <resultMap id="getCategoryInfo" type="com.ash.server.pojo.Commodity" extends="BaseResultMap">
        <association property="category" javaType="com.ash.server.pojo.Category">
<!--            <id column="category_id" property="categoryId" />-->
            <result column="category_name" property="categoryName" />
        </association>
    </resultMap>

    <select id="getCommodity" resultMap="getCategoryInfo">
        SELECT
        c.*,
        ca.category_name
        FROM
        h_commodity c,
        h_category ca
        WHERE
        c.category_id = ca.category_id
        AND c.commodity_locked = FALSE
        <if test="null!=keywords and ''!=keywords">
            AND c.commodity_name LIKE CONCAT('%',#{keywords},'%')
        </if>
        <if test="null!=categoryId">
            AND c.category_id=#{categoryId}
        </if>
        ORDER BY
        c.commodity_id
    </select>

    <select id="getCommodityByPage" resultMap="getCategoryInfo">
        SELECT
        c.*,
        ca.category_name
        FROM
        h_commodity c,
        h_category ca
        WHERE
        c.category_id=ca.category_id
        <if test="null!=keywords and ''!=keywords">
            AND c.commodity_name LIKE CONCAT('%',#{keywords},'%')
        </if>
    </select>
    <select id="getCommodityExcel" resultMap="getCategoryInfo">
        SELECT
        c.*,
        ca.category_name
        FROM
        h_commodity c,
        h_category ca
        WHERE
        c.category_id = ca.category_id
        <if test="null!=id">
            AND c.commodity_id=#{id}
        </if>
        ORDER BY
        c.commodity_id
    </select>


</mapper>
