<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Commodity">
        <id column="commodity_id" property="commodityId" />
        <result column="commodity_image" property="commodityImage" />
        <result column="commodity_name" property="commodityName" />
        <result column="commodity_stock" property="commodityStock" />
        <result column="commodity_price" property="commodityPrice" />
        <result column="commodity_discount" property="commodityDiscount" />
        <result column="commodity_describe" property="commodityDescribe" />
        <result column="commodity_locked" property="commodityLocked" />
        <result column="commodity_enable" property="commodityEnable" />
        <result column="commodity_create_time" property="commodityCreateTime" />
        <result column="commodity_update_time" property="commodityUpdateTime" />
    </resultMap>

    <resultMap id="CommodityWithCategory" type="com.ash.server.pojo.Commodity" extends="BaseResultMap">
        <collection property="categorys" ofType="com.ash.server.pojo.Category">
            <id column="category_id" property="categoryId" />
            <result column="category_name" property="categoryName" />
        </collection>
    </resultMap>

    <select id="getAllCommodity" resultMap="CommodityWithCategory">
        SELECT
        c.*,
        ca.category_id,
        ca.category_name
        FROM
        h_commodity c
        LEFT JOIN
        h_commodity_category cc ON c.commodity_id=cc.commodity_id
        LEFT JOIN
        h_category ca ON cc.category_id=ca.category_id
        <if test="null!=keywords and ''!=keywords">
            WHERE c.commodity_name LIKE CONCAT('%',#{keywords},'%')
        </if>
    </select>

    <select id="getCommodityByPage" resultMap="CommodityWithCategory">
        SELECT
        c.*
        FROM
        h_commodity c
        <if test="null!=keywords and ''!=keywords">
            WHERE c.commodity_name LIKE CONCAT('%',#{keywords},'%')
        </if>
    </select>


</mapper>
