<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.ImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Image">
        <id column="image_id" property="imageId" />
        <result column="image_url" property="imageUrl" />
        <result column="image_delete" property="imageDelete" />
        <result column="image_create_time" property="imageCreateTime" />
        <result column="image_update_time" property="imageUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        image_id, image_url, image_delete, image_create_time, image_update_time
    </sql>

</mapper>
