<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_status" property="orderStatus"/>
        <result column="user_id" property="userId"/>
        <result column="address_id" property="addressId"/>
        <result column="operator_id" property="operatorId"/>
        <result column="order_delivery" property="orderDelivery"/>
        <result column="driver_id" property="driverId"/>
        <result column="order_total" property="orderTotal"/>
        <result column="order_create_time" property="orderCreateTime"/>
        <result column="order_update_time" property="orderUpdateTime"/>
        <result column="order_cancel_time" property="orderCancelTime"/>
        <result column="order_paid_time" property="orderPaidTime"/>
        <result column="order_received_time" property="orderReceivedTime"/>
        <result column="order_delivery_time" property="orderDeliveryTime"/>
        <result column="order_completed_time" property="orderCompletedTime"/>
        <result column="order_dining_style" property="orderDiningStyle"/>
        <result column="order_remarks" property="orderRemarks"/>
    </resultMap>

    <resultMap id="OrderInfo" type="com.ash.server.pojo.Order" extends="BaseResultMap">
        <result column="stateName" property="stateName"/>
        <association property="userName" javaType="string">
            <result column="user" javaType="string"/>
        </association>
        <association property="operatorName" javaType="string">
            <result column="operator" javaType="string"/>
        </association>
        <association property="driverName" javaType="string">
            <result column="driver" javaType="string"/>
        </association>
        <association property="userAddress" javaType="com.ash.server.pojo.UserAddress">
            <id column="address_id" property="addressId"/>
            <result column="address_describe" property="addressDescribe"/>
        </association>
        <!--        <collection property="orderDetaileds" ofType="com.ash.server.pojo.OrderDetailed">-->
        <!--            <id column="order_detailed_id" property="orderDetailedId"/>-->
        <!--            <result column="order_id" property="orderId"/>-->
        <!--            <result column="commodity_category_id" property="commodityCategoryId"/>-->
        <!--            <result column="order_detailed_num" property="orderDetailedNum"/>-->
        <!--            <result column="order_detailed_price" property="orderDetailedPrice"/>-->
        <!--        </collection>-->
    </resultMap>

    <resultMap id="byState" type="com.ash.server.pojo.Order" extends="BaseResultMap">
        <result column="stateName" property="stateName"/>
        <association property="userName" javaType="string">
            <result column="user" javaType="string"/>
        </association>
        <association property="operatorName" javaType="string">
            <result column="operator" javaType="string"/>
        </association>
        <association property="driverName" javaType="string">
            <result column="driver" javaType="string"/>
        </association>
        <association property="userAddress" javaType="com.ash.server.pojo.UserAddress">
            <id column="address_id" property="addressId"/>
            <result column="address_describe" property="addressDescribe"/>
        </association>
        <collection property="orderDetaileds" ofType="com.ash.server.pojo.OrderDetailed">
            <id column="order_detailed_id" property="orderDetailedId"/>
            <result column="order_id" property="orderId"/>
            <result column="order_detailed_num" property="orderDetailedNum"/>
            <result column="order_detailed_price" property="orderDetailedPrice"/>
            <result column="order_detailed_total" property="orderDetailedTotal"/>
            <association property="commodity" javaType="com.ash.server.pojo.Commodity">
                <id column="commodity_id" property="commodityId" />
                <result column="commodity_image" property="commodityImage" />
                <result column="commodity_name" property="commodityName" />
            </association>
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id
        , order_status_id, user_id, address_id, operator_id, order_delivery, driver_id, order_total, order_create_time, order_update_time, order_cancel_time, order_paid_time, order_received_time, order_delivery_time, order_completed_time, order_dining_style, order_remarks
    </sql>

    <!--获取所有订单（分页）-->
    <select id="getOrderByPage" resultMap="OrderInfo">
        SELECT
        o.*,
        a.admin_username AS 'user',
        a1.admin_username AS 'operator',
        a2.admin_username AS 'driver',
        ua.address_describe,
        (CASE
        WHEN o.order_status = 0 THEN '待确定'
        WHEN o.order_status=1 THEN '待支付'
        WHEN o.order_status=2 THEN '待接收'
        WHEN o.order_status=3 THEN '正在处理'
        WHEN o.order_status=4 THEN '待配送'
        WHEN o.order_status=5 THEN '配送中'
        WHEN o.order_status=6 THEN '待收到'
        WHEN o.order_status=7 THEN '待评价'
        WHEN o.order_status=8 THEN '待处理'
        WHEN o.order_status=9 THEN '申诉处理中'
        ELSE '异常' END) AS 'stateName'
        FROM
        h_order o
        LEFT JOIN h_admin a ON o.user_id = a.admin_id
        LEFT JOIN h_user_address ua ON o.address_id = ua.address_id
        LEFT JOIN h_admin a1 ON o.operator_id = a1.admin_id
        LEFT JOIN h_admin a2 ON o.driver_id = a2.admin_id
        WHERE
        1=1
        <if test="null!=order.admin">
            <if test="null!=order.admin.adminUsername and ''!=order.admin.adminUsername">
                AND u.user_nickname LIKE CONCAT('%',#{order.admin.adminUsername},'%')
            </if>
        </if>
        <if test="null!=order.orderId">
            AND o.order_id=#{order.orderId}
        </if>
        <if test="null!=order.orderStatus">
            AND o.order_status=#{order.status}
        </if>
        <!--        <if test="null!=order.commodity.commodityName and ''!=order.commodity.commodityName">-->
        <!--            AND c.commodity_name LIKE CONCAT('%',#{order.commodity.commodityName},'%')-->
        <!--        </if>-->
        <if test="null!=order.orderCreateTime and 2==beginDataScope.length">
            AND o.order_create_time BETWEEN #{beginDataScope[0]} AND #{beginDataScope[1]}
        </if>
        ORDER BY o.order_id
    </select>

    <select id="getOrderByState" resultMap="byState">
        SELECT
            o.*,
            od.*,
            c.commodity_id,
            c.commodity_name,
            c.commodity_image,
            a.admin_username AS 'user',
                a1.admin_username AS 'operator',
                a2.admin_username AS 'driver',
                ua.address_describe,
            (
                CASE
                    WHEN o.order_status = 0 THEN
                        '待确定'
                    WHEN o.order_status = 1 THEN
                        '待支付'
                    WHEN o.order_status = 2 THEN
                        '待接收'
                    WHEN o.order_status = 3 THEN
                        '正在处理'
                    WHEN o.order_status = 4 THEN
                        '待配送'
                    WHEN o.order_status = 5 THEN
                        '配送中'
                    WHEN o.order_status = 6 THEN
                        '待收到'
                    WHEN o.order_status = 7 THEN
                        '待评价'
                    WHEN o.order_status = 8 THEN
                        '待处理'
                    WHEN o.order_status = 9 THEN
                        '申诉处理中' ELSE '异常'
                    END
                ) AS 'stateName'
        FROM
            h_order o
                LEFT JOIN h_admin a ON o.user_id = a.admin_id
                LEFT JOIN h_user_address ua ON o.address_id = ua.address_id
                LEFT JOIN h_order_detailed od ON o.order_id=od.order_id
                LEFT JOIN h_admin a1 ON o.operator_id = a1.admin_id
                LEFT JOIN h_admin a2 ON o.driver_id = a2.admin_id,
            h_commodity c
        WHERE
            od.commodity_id=c.commodity_id
          AND o.user_id = #{userId}
          AND o.order_status = #{state}
    </select>

</mapper>
