<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Role">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_name_zh" property="roleNameZh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_name_zh
    </sql>

    <!-- 根据用户id查询角色列表 -->
    <select id="getRoles" resultType="com.ash.server.pojo.Role">
        SELECT
            r.role_id,
            r.role_name,
            r.role_name_zh
        FROM
            h_role AS r
            LEFT JOIN h_admin_role AS ar ON r.role_id = ar.role_id
        WHERE
            ar.admin_id = #{adminId}
    </select>

</mapper>
