<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.ShoppingcartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Shoppingcart">
        <id column="shoppingcart_id" property="shoppingcartId" />
<!--        <result column="user_id" property="userId" />-->
<!--        <result column="commodity_id" property="commodityId" />-->
        <result column="commodity_category_id" property="commodityCategoryId" />
        <result column="shoppingcart_num" property="shoppingcartNum" />
        <result column="shoppingcart_delete" property="shoppingcartDelete" />
        <result column="shoppingcart_create_time" property="shoppingcartCreateTime" />
        <result column="shoppingcart_update_time" property="shoppingcartUpdateTime" />
    </resultMap>

    <resultMap id="ShoppingcartByUser" type="com.ash.server.pojo.Shoppingcart" extends="BaseResultMap">
        <association property="user" javaType="com.ash.server.pojo.User">
            <id column="user_id" property="userId"/>
            <result column="user_nickname" property="userNickname" />
        </association>
        <association property="commodityCategory" javaType="com.ash.server.pojo.CommodityCategory">
            <id column="commodity_category_id" property="commodityCategoryId" />
<!--            <result column="commodity_id" property="commodityId" />-->
            <association property="commodity" javaType="com.ash.server.pojo.Commodity">
                <id column="commodity_id" property="commodityId" />
                <result column="commodity_image" property="commodityImage" />
                <result column="commodity_name" property="commodityName" />
                <result column="commodity_price" property="commodityPrice" />
                <result column="commodity_discount" property="commodityDiscount" />
                <result column="commodity_describe" property="commodityDescribe" />
            </association>
<!--            <result column="category_id" property="categoryId" />-->
            <association property="category" javaType="com.ash.server.pojo.Category">
                <id column="category_id" property="categoryId" />
                <result column="category_name" property="categoryName" />
            </association>
        </association>
    </resultMap>

    <select id="getShoppingcartByUser" resultMap="ShoppingcartByUser">
        SELECT
            u.user_id,
            u.user_nickname,
            s.*,
            c.commodity_id,
            c.commodity_image,
            c.commodity_name,
            c.commodity_stock,
            c.commodity_price,
            c.commodity_discount,
            c.commodity_describe,
            cc.commodity_category_id,
            ca.category_name,
            ca.category_id
        FROM
            h_shoppingcart s,
            h_user u,
            h_commodity c,
            h_category ca,
            h_commodity_category cc
        WHERE
            s.user_id=u.user_id
          AND cc.commodity_id=c.commodity_id
          AND s.commodity_category_id=cc.commodity_category_id
          AND cc.category_id=ca.category_id
          AND u.user_id=#{userId}
    </select>

</mapper>
