<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.ShoppingcartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.Shoppingcart">
        <id column="shoppingcart_id" property="shoppingcartId" />
        <result column="user_id" property="userId" />
        <result column="commodity_id" property="commodityId" />
        <result column="shoppingcart_num" property="shoppingcartNum" />
        <result column="shoppingcart_delete" property="shoppingcartDelete" />
        <result column="shoppingcart_create_time" property="shoppingcartCreateTime" />
        <result column="shoppingcart_update_time" property="shoppingcartUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shoppingcart_id, user_id, commodity_id, shoppingcart_num, shoppingcart_delete, shoppingcart_create_time, shoppingcart_update_time
    </sql>

</mapper>
