<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ash.server.mapper.UserAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ash.server.pojo.UserAddress">
        <id column="address_id" property="addressId" />
        <result column="user_id" property="userId" />
        <result column="address_describe" property="addressDescribe" />
        <result column="address_delete" property="addressDelete" />
        <result column="address_create_time" property="addressCreateTime" />
        <result column="address_update_time" property="addressUpdateTime" />
    </resultMap>

    <select id="getUserAddress" resultType="com.ash.server.pojo.UserAddress">
        SELECT
            ud.*
        FROM
            h_user_address ud
                RIGHT JOIN h_user u ON ud.user_id = u.user_id
        WHERE
            ud.user_id =#{userId}
    </select>

</mapper>
